.homeimg {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px
}

.cursive {
  text-align: center;
  font-family: cursive;
}

.packageimg {
  height: 60%;
  width: 60%;
  margin-left: 10%
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.col-md-6 {
  margin-top: 75px;
  margin-bottom: 20px;
}

.col-md-6 h1 {
  text-align: center;
}
